body{
  background-color: ghostwhite;
}

.language_button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: inherit;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-right: 2px;
  margin-top: 1px;
  cursor: pointer;
}

.language_button:hover {
  color: slategray;
  background: goldenrod;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 25%;
}

a{
  color: inherit;
  text-decoration: none;
}

a:hover{
  color: #00A0C6;
  text-decoration: underline;
  cursor: pointer;
}

.name-box{
  background-color: ghostwhite;
}

.email-box{
  background-color: ghostwhite;
}

.text-area{
  background-color: ghostwhite;
}
