body{
  background-color: ghostwhite;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 25%;
}

a{
  color: inherit;
  text-decoration: none;
}

a:hover{
  color: #00A0C6;
  text-decoration: underline;
  cursor: pointer;
}

.name-box{
  background-color: ghostwhite;
}

.email-box{
  background-color: ghostwhite;
}

.text-area{
  background-color: ghostwhite;
}

.header tr td a{
  target="_blank";
}
